@font-face {
  font-family: Jedi;
  src: url("SF Distant Galaxy Outline.ttf")
}
body {
  height: 100%;
  margin: 0;
  background-image: url("../img/starbg.png")
}
.title {
  font-family: Jedi;
  text-align: center;
  color: #fff020;
  font-size: 80px;
  margin: 20px 0;
}
#score {
  width: 60%;
  height: 500px;
  margin: 0 auto;
}
#images {
  width: 300px;
  height: 500px;
  float: left;
}
.image {
  margin-top: 80px;
  width: 250px;
  height: 350px;
}
#winnings {
  width: 250px;
  height: 500px;
  float:right;
  background-color: #010e61;
  border: 2px #187be0 solid;
  color: #ffb344;
}
#winnings h1 {
  margin: 40px 10px;
}
#qAndA {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
}
/*Styling to give the border shape of the questions and answers*/
.question {
  height: 70px;
  width: 500px;
  padding-top: 10px;
  display: inline-block;
  text-align: auto;
  vertical-align: top;
  background-color: #010e61;
  color: white;
  position: relative;
}
.question:before {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-right: 25px solid #010e61;
}
.question:after {
  content: "";
  position: absolute;
  right: -25px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 25px solid #010e61;
}
.answers {
  width: 80%;
  margin: 30px auto;
}
.answer {
  margin: 10px 0;
  height: 50px;
  width: 250px;
  padding-top: 5px;
  vertical-align: top;
  display: inline-block;
  background-color: #010e61;
  color: white;
  text-align: left;
  position: relative;
}
.answer:before {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid #010e61;
}
.answer:after {
  content: "";
  position: absolute;
  right: -25px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #010e61;
}
.correct {
  background-color: #ffb344 !important;
}
.correct:before {
  border-right: 25px solid #ffb344 !important;
}
.correct:after {
  border-left: 25px solid #ffb344 !important;
}
.correct p {
  color: black !important;
}
.correct span {
  color: white !important;
}
/*Extra div needed so text doesn't overlap the cutoff edges*/
.inner {
  width: 85%;
  margin: 0 auto;
}
.answer .inner {
  padding-left: 15px;
}
p {
  font-size: 15px;
}
.questionP {
  font-size: 17px;
}
.letters {
  color: #ffb344;
}
.hidden {
  display: none !important;
}
.flash {
  -moz-animation: flash 2s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 2s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 2s ease-out;
  -ms-animation-iteration-count: 1;
}
.bgcolor {
  background-color: #ffb344;
  color: white;
}

@keyframes flash {
    0% { background-color: transparent;
    color: #ffb344;}
    20% { background-color: #ffb344;
    color: white;}
    40% { background-color: transparent;
    color: #ffb344;}
    60% { background-color: #ffb344;
    color: white;}
    80% { background-color: transparent;
    color: #ffb344;}
    100% { background-color: #ffb344;
    color: white;}
}

@-webkit-keyframes flash {
  0% { background-color: transparent;
  color: #ffb344;}
  20% { background-color: #ffb344;
  color: white;}
  40% { background-color: transparent;
  color: #ffb344;}
  60% { background-color: #ffb344;
  color: white;}
  80% { background-color: transparent;
  color: #ffb344;}
  100% { background-color: #ffb344;
  color: white;}
}

@-moz-keyframes flash {
  0% { background-color: transparent;
  color: #ffb344;}
  20% { background-color: #ffb344;
  color: white;}
  40% { background-color: transparent;
  color: #ffb344;}
  60% { background-color: #ffb344;
  color: white;}
  80% { background-color: transparent;
  color: #ffb344;}
  100% { background-color: #ffb344;
  color: white;}
}

@-ms-keyframes flash {
  0% { background-color: transparent;
  color: #ffb344;}
  20% { background-color: #ffb344;
  color: white;}
  40% { background-color: transparent;
  color: #ffb344;}
  60% { background-color: #ffb344;
  color: white;}
  80% { background-color: transparent;
  color: #ffb344;}
  100% { background-color: #ffb344;
  color: white;}
}
@media (min-width: 1270px) {
  #qAndA {
    width: 60%;
  }
}
@media (min-width: 1700px) {
  #score {
    width: 35%;
  }
  #qAndA {
    width: 50%;
  }
}
