body {
  height: 100%;
  margin: 0;
  background-image: url("../img/starbg.png")
}
#winnings {
  width: 60%;
  height: 500px;
  margin: 50px auto;
  background-color: #010e61;
  border: 2px #187be0 solid;
  color: #ffb344;
}
#winnings h1 {
  margin: 30px 0;
}
#numbers {
  width: 35%;
  margin: 0 auto;
}
#qAndA {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
/*Styling to give the border shape of the questions and answers*/
.question {
  height: 70px;
  width: 500px;
  padding-top: 10px;
  display: inline-block;
  text-align: auto;
  vertical-align: top;
  background-color: #010e61;
  color: white;
  -webkit-clip-path: polygon(7% 0%, 93% 0%, 100% 50%, 93% 100%, 7% 100%, 0% 50%);
  clip-path: polygon(7% 0%, 93% 0%, 100% 50%, 93% 100%, 7% 100%, 0% 50%);
}
.answers {
  width: 80%;
  margin: 30px auto;
}
.answer {
  margin: 10px 10px;
  height: 50px;
  width: 250px;
  padding-top: 7px;
  vertical-align: top;
  display: inline-block;
  background-color: #010e61;
  color: white;
  text-align: left;
  -webkit-clip-path: polygon(7% 0%, 93% 0%, 100% 50%, 93% 100%, 7% 100%, 0% 50%);
  clip-path: polygon(7% 0%, 93% 0%, 100% 50%, 93% 100%, 7% 100%, 0% 50%);
}
/*Extra div needed so text doesn't overlap the cutoff edges*/
.inner {
  width: 85%;
  margin: 0 auto;
}
.answer .inner {
  padding-left: 15px;
}
p {
  font-size: 13px;
}
.questionP {
  font-size: 17px;
}
.letters {
  color: #ffb344;
}
.hidden {
  display: none !important;
}
@media (min-width: 1270px) {
  #winnings {
    width: 48%;
  }
  #qAndA {
    width: 60%;
  }
}
@media (min-width: 1700px) {
  #winnings {
    width: 35%;
  }
  #qAndA {
    width: 50%;
  }
}
